body{
    font-family: Sabon;
    font-weight: 500;
    font-size: 18px;
}
.button{
    margin-top: 40px;
    text-align: center;
}
#open_pop-up{
    background-color: rgb(197, 88, 233);
    padding: 20px 50px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.pop-up{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}
.pop-up.active{
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .8);
}
.pop-up_body{
    text-decoration: none;
    margin: 5% auto;
    width: 400px;
    background-color: rgb(216, 169, 255);
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    position: relative;
}
.pop-up_body p{
    font-family: Trade Gothic;
    font-size: 25px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
.pop-up_body .name, .email, .submit{
    margin: 20px auto 0px auto;
    width: 330px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, .8);
}
.pop-up_body textarea{
    margin: 20px auto 0px auto;
    padding: 10px 20px;
    width: 330px;
    resize: vertical;
    font-family: Sabon;
    font-weight: 500;
    font-size: 18px;
}
.pop-up_body .checkbox{
    margin: 20px auto 0px auto;
    padding: 10px 20px;
}
.pop-up_body .button_submit{
    cursor: pointer;
    width: 300px;
    height: 50px;
    margin: 20px auto 0px auto;
    padding: 20px 20px;
    border: none;
    color: white;
    font-family: Trade Gothic;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(181, 97, 255);
}
.pop-up_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
}
